VITE_OAUTH_ACTIVE="true"
VITE_CLIENT_ID="eaf2lk1j940e0124f0e7c68a121c0582"
VITE_REDIRECT_URI="https://restaurant-reservations-demo-oauth.azurewebsites.net"
VITE_ACCOUNT_DOMAIN_API="l2fur4j.api.infobip.com"
VITE_ACCOUNT_API_KEY="d01sdfsd383b9ab6-ac42abfsr272-949f3ea7a764"
VITE_CONVERSATIONS_INTEGRATION="true"